.preview{
    position:relative;
}
.preview_close{
    position:absolute;
    top:0;
    margin:5px; 
    cursor:pointer;
    color:white;
}
.preview_Toolbar_right{
    position:absolute;
    right:0;
    display:flex;
    flex-direction: column;
    margin:5px;
    color:darkmagenta;
}